__pycache__/
*.py[cod]

.venv/
venv/
env/
.env

logs/
_temp_wav_cache/

models/
ffmpeg/
.tools/
.whisperrc

*.srt
*.txt
*.srt.part
*.txt.part
!requirements.txt

mre_silence_*.wav

.venv/
.DS_Store
out_*/
*.part

# 测试文件
*.wav
*.mp4
*.mkv
*.mov
benchmark.py
